{{ ansible_managed | comment }}

{% for main_key in f2b_item['vars'] %}

[{{ main_key }}]
{% for key in f2b_item['vars'][main_key] %}
{%- set key_length = key|length -%}
{%- if f2b_item['vars'][main_key][key] is string %}
{{ key }} = {{ f2b_item['vars'][main_key][key] }}
{% elif f2b_item['vars'][main_key][key] is number %}
{{ key }} = {{ f2b_item['vars'][main_key][key] }}
{% else %}
{{ key }} = {{ f2b_item['vars'][main_key][key] | first }}
{% if f2b_item['vars'][main_key][key] | length > 1 %}
{% for item in f2b_item['vars'][main_key][key][1:] %}
{{ item|indent(width=key_length + 3, indentfirst=True) }}
{% endfor %}
{% endif %}
{% endif %}
{%- endfor -%}
{%- endfor -%}
